<h1>Student 데이터 삽입</h1>
<form id="student" method="post" action="/">
    <div>
        <label for="name">Name</label>
        <input id="name" name="name" type="text"  placeholder="Name" />
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email" name="email" type="text"  placeholder="Email" />
    </div>
        <div>
        <label for="phone">Phone</label>
        <input id="phone" name="phone" type="text"  placeholder="Phone" />
    </div>
        <div>
        <label for="major">Major</label>
        <input id="major" name="major" type="text"  placeholder="Major" />
    </div>
        <div>
        <label for="std_id">Std_Id</label>
        <input id="std_id" name="std_id" type="text"  placeholder="Std_id" />
    </div>
    <div>
        <input type="submit" value="삽입" />
    </div>
</form>